body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
    width: 1400px;
    margin: auto;
    height: 50px;
    padding-bottom: 3px;
}

#main {
    display: flex;
    margin: auto;
    width: 1420px;
}

#left {
    width: 400px;
    height: 510px;
    margin-right: 20px;
    border: 1px solid #537E8C;
    padding-top: 30px;
    text-align: center;
    overflow: scroll;
    margin: auto;
}

#right {
    width: 980px;
    margin: auto;
    height: 542px;
}

#right-top {
  height: 490px;
  border-left: 1px solid #537E8C;
  border-right: 1px solid #537E8C;
  border-top: 1px solid #537E8C;
}

#right-bot {
  height: 50px;
  background-color: lightblue;
  border-left: 1px solid #537E8C;
  border-right: 1px solid #537E8C;
  border-bottom: 1px solid #537E8C;
}

#frames {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    height: 150px;
    width: 1380px;
    border: 1px solid #537E8C;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.draggable-icon {
    width: 60px;
    height: 60px;
}

.formation-icon {
    width: 60px;
    height: 60px;
}

.spacing {
    width: 30px;
    display: inline-block;
}

.slide {
  text-align: center;
  height: 120px;
  width: 180px;
  margin-top: 2vh;
  margin-right: 20px;
  border: 1px solid #537E8C;
  display:inline-block;
}

.circleDiv {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: lightsteelblue;
  position: relative;
}

.redBox {
  background: red;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 20px;
  height: 20px;
  position: relative;
}


#plus {
    margin-top: 35px;
    width: 50px;
}


#cross {
  background-color: #ccd9ea;
  height: 50px;
  position: relative;
  width: 15px;
  top: 37px;
  left: 10vh;
}

#cross:after {
  background-color: #ccd9ea;
  content: "";
  height: 15px;
  left: -18px;
  position: absolute;
  top: 17px;
  width: 50px;
}


#play{
  height:40px;
  width: 40px;
  border: none;
  float: left;
  background-size: 50% 50%;
  background-position: center;
}
.play{background: url('../images/play-image.png') no-repeat;}
.pause{background: url('../images/pause-image.png') no-repeat;}



#bubblebar{
  margin-left: 45px;
  width: 700px;
  height: 15px;
}

#audioplayerbar{
  width: 920px;
  height: 20px;
  background: rgba(0,0,0,.2);
  margin-top: 10px;
  float: left;
  border-radius: 15px;
}


#playmarker{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
}


#bubble{
  margin-top: 5px;
  float: left;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}
