body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: #00B7FF;
}

.nav {
    height: 50px;
    padding-bottom: 3px;
}

#main {
    display: flex;
    height: 60vh;
}

#left {
    width: 30%;
    margin-right: 1.5%;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    overflow: scroll;
}

#right {
    width: 68%;
    border: 1px solid black;
}

#frames {
    margin-top: 3vh;
    height: 27vh;
    width: 100%;
    border: 1px solid black;
}

.draggable-icon {
    width: 60px;
    height: 60px;
}

.spacing {
    width: 30px;
    display: inline-block;
}