body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px "Open Sans", sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
    width: 1400px;
    margin: auto;
    height: 50px;
    padding-bottom: 3px;
}

#main {
    display: flex;
    margin: auto;
    width: 1420px;
}

#audience {
    height: 49px;
    border-left: 1px solid #537E8C;
    border-right: 1px solid #537E8C;
    background-color: rgba(0, 0, 0, 0.17); /* rgba(20, 52, 175, 0.86) */
}

#audienceText {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#left {
    width: 400px;
    height: 510px;
    margin-right: 20px;
    border: 1px solid #537E8C;
    padding-top: 30px;
    text-align: center;
    margin: auto; 
    position: relative;
    z-index: 15;
}

/*#left img  {
    opacity: 50%;
}

#left img:hover {
    opacity: 100%;
}*/

#right {
    width: 980px;
    margin: auto;
    height: 542px;
    position: relative;
    z-index: 15;
}

#dragText {
  text-align: center;
  padding-top: 200px;
  color: #c5c5c5;
  position: absolute;
  width: 100%;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#formation-pane {
  height: 440px;
  border-left: 1px solid #537E8C;
  border-right: 1px solid #537E8C;
  border-top: 1px solid #537E8C;
  overflow: hidden;
}

.formation-screen {
    position: absolute;
    width: 980px;
    height: 440px;
}

#audio-strip {
  height: 50px;
  background-color: lightblue;
  border-left: 1px solid #537E8C;
  border-right: 1px solid #537E8C;
  border-bottom: 1px solid #537E8C;
  border-top: 1px solid #537E8C;
}

#frames {
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    height: 175px;
    width: 1380px;
    border: 1px solid #537E8C;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#trash {
    height: 155px;
    padding-top: 45px;
    width: 100%;
    background-color: gainsboro;
    position: absolute;
    top: 340px;
}

#trashText {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
}

.draggable-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 20;
}

.draggable-icon:hover {
    -webkit-appearance:none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.formation-icon {
    width: 60px;
    height: 60px;
}

.formation-icon:hover {
    -webkit-appearance:none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.mini-icon{
  width: 15px;
  height: 15px;
  position:absolute;
}

.spacing {
    width: 30px;
    display: inline-block;
}

.slide {
  text-align: center;
  height: 120px;
  width: 280px;
  margin-top: 2vh;
  margin-right: 20px;
  border: 1px solid #537E8C;
  display: inline-block;
  cursor: pointer;
  position: relative;
/*
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
*/
}

.slide:hover {
  border: 2px solid #537E8C;
}

.circleDiv {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: lightsteelblue;
  position: relative;
}

.redBox{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}


#plus {
    margin-top: 35px;
    width: 50px;
}


#cross {
  background-color: #ccd9ea;
  height: 50px;
  position: relative;
  width: 15px;
  top: 37px;
  left: 135px;
}

#cross:after {
  background-color: #ccd9ea;
  content: "";
  height: 15px;
  left: -18px;
  position: absolute;
  top: 17px;
  width: 50px;
}

#play{
  height:40px;
  width: 40px;
  border: none;
  float: left;
  background-size: 50% 50%;
  background-position: center;
}

.play{background: url('../images/play-image.png') no-repeat;}
.pause{background: url('../images/pause-image.png') no-repeat;}

#bubblebar{
  margin-left: 45px;
  width: 920px;
  height: 15px;
  position: relative;
}

#audioplayerbar{
  width: 920px;
  height: 20px;
  background: rgba(0,0,0,.2);
  margin-top: 10px;
  float: left;
  border-radius: 15px;
}

#playmarker{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
}

.bubble{
  margin-top: 5px;
  float: left;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
  border: solid 3px black;
  position: absolute;
}

#trash-icon {
    opacity: 0.6;
}

.modal-dialog {
  top: 200px;
}

.modal-title#main {
  width: 100%;
  font-size: 35px;
  font-family: 'Courgette', cursive;
  padding-bottom: 5px;
  padding-left: 148px;
  color: rgba(61, 56, 214, 0.8);
}

.modal-title#description {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgba(144, 140, 140, 0.72);
}

.modal-title#chooseSong {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 10px;
  color: rgba(61, 56, 214, 0.8);
}

.modal-body {
  text-align: center;
}